@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

#app{
    /*display grid con columnas auto ajustables*/
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    justify-items: center;
    width: 100%;
    height: auto;
}
    